<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Applications.Foundation.EventProcessing" version="1.0.34-Beta" targetFramework="net40" />
  <package id="Applications.Foundation.EventProcessing.LoggingService" version="1.0.34-Beta" targetFramework="net40" />
  <package id="Applications.Foundation.ExceptionHandling.Aspects" version="3.0.20-Beta" targetFramework="net40" />
  <package id="Applications.Foundation.Exceptions" version="3.0.16-Beta" targetFramework="net40" />
  <package id="Applications.Foundation.Logging" version="3.0.14-Beta" targetFramework="net40" />
  <package id="Applications.Foundation.Notifications" version="1.1.11-Beta" targetFramework="net40" />
  <package id="Applications.Foundation.ServiceModel.ChannelBuilder" version="1.4.19-Beta" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.7" targetFramework="net40" />
  <package id="Platform.Log4Net.Logging" version="3.0.16-Beta" targetFramework="net40" />
  <package id="PostSharp" version="2.1.6.15" targetFramework="net40" />
</packages>