<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- This configuration is installed with the Applications.Foundation.EventProcessing package -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="BusinessEventStaging" connectionString="server=localhost\sql2012;database=BusinessEventStaging;uid=EventStagingProcessor;pwd=splxk#lfteokyv9uooxxorpnmsFT7$!~cy~vocyxokrj"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <wsHttpBinding>
        <!-- This configuration is installed with the Applications.Foundation.EventProcessing package -->
        <!-- Uncomment this endpoint for use in web.config or app.config files for your application. Leave this entry commented out for the LoggingService, StagingService or Testability packages.-->
        <!--<binding name="wsHttpBindingConfiguration" maxReceivedMessageSize="16384" transactionFlow="true">
          <security mode="None"/>
        </binding>-->
        <!-- This configuration is installed with the Applications.Foundation.EventProcessing.StagingService package -->
        <binding name="wsHttp16KBTxServerBinding" maxReceivedMessageSize="16384" transactionFlow="true">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
      <!-- This configuration is installed with the Applications.Foundation.EventProcessing.StagingService package -->
      <!-- Use this binding if you intend on using transactional MSMQ queues. -->
      <netMsmqBinding>
        <binding name="msmq16KBTxBinding" maxReceivedMessageSize="16384" durable="true" exactlyOnce="true" receiveRetryCount="4">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <!-- This configuration is installed with the Applications.Foundation.EventProcessing package -->
      <!-- The address below will be the local address of the target web service and will vary by solution and IIS or IIS Express -->
      <!-- Uncomment this endpoint for use in web.config or app.config files for your application. Leave this entry commented out for the LoggingService, StagingService or Testability packages.-->
      <!--<endpoint name="BusinessEventService"
              address="http://your.target.endpoint/"
              binding="wsHttpBinding"
              bindingConfiguration="wsHttpBindingConfiguration"
              contract="Geico.Applications.Foundation.EventProcessing.IBusinessEventService"/>-->
    </client>
    <services>
      <!-- This configuration is installed with the Applications.Foundation.EventProcessing.StagingService package -->
      <service name="Geico.Applications.Foundation.EventProcessing.Services.BusinessEventSqlStagingService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttp16KBTxServerBinding" contract="Geico.Applications.Foundation.EventProcessing.IBusinessEventService" />
        <!-- Expose this endpoint if: are using IIS and MSMQ IIS activation...otherwise just use HTTP -->
        <!-- online resource: http://blogs.msdn.com/b/tomholl/archive/2008/07/12/msmq-wcf-and-iis-getting-them-to-play-nice-part-1.aspx -->
        <!--<endpoint address="net.msmq://localhost/private/EventProcessing.Staging/Staging.svc"
                 binding="netMsmqBinding"
                 bindingConfiguration="msmq16KBTxBinding"
                 contract="Geico.Applications.Foundation.EventProcessing.IBusinessEventService" />-->
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\BusinessEvents.log " />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">------------------- %date ------------------- %newline%message%newline</layout>
    </appender>
    <logger name="Geico.Applications.Foundation.EventProcessing">
      <appender-ref ref="RollingLogFileAppender" />
      <level value="ALL" />
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Geico.Applications.Foundation.Notifications" publicKeyToken="779684a973305669" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>